<html>
    <head>
        <link href="css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="main">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul>
                        <li>About</li>
                        <li>Contact</li>
                        <li>Help</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul>
                        <li>My Account &#9662;
                            <ul class="my-account-list">
                                <li>Sign in</li>
                                <li>Sign up</li>
                            </ul>
                        </li>
                        <li>USD &#9662;
                        </li>
                        <li>EN &#9662;
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>