<html>
    <head>
        <link href="css/style.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
    </head>
    <body style="background-color: #F5F5F5;">
        <div class="main">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul>
                        <li>About</li>
                        <li>Contact</li>
                        <li>Help</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul>
                        <li>My Account &#9662;
                            <ul>
                                <li>Sign in</li>
                                <li>Sign up</li>
                            </ul>
                        </li>
                        <li>USD &#9662;
                            <ul style="left: 450px !important;">
                                <li>EUR</li>
                                <li>GBP</li>
                                <li>CAD</li>
                            </ul>
                        </li>
                        <li>EN &#9662;
                        </li>
                    </ul>
                </div>
            </div>
            <div class="logo-and-search">
               <div class="logo flex-container">
                <div class="multi">
                    <h1>MULTI</h1>
                </div>
                <div class="shop">
                    <h1>SHOP</h1>
                </div>
               </div>
               <div class="search-input">
                 <input type="text" placeholder="Search for products"/>
                 <i class="fa fa-search"></i>
               </div>
               <div class="customer-label">
                <span>Customer Service</span>
                <span>+012&nbsp;345&nbsp;6789</span>
               </div>
            </div>
            <nav>
                <div class="category-list">
                    <h1>
                        <i class="fa fa-bars"></i>
                        <span>Categories</span>
                        <span>&#9662</span>
                    </h1>  
                    <ul>
                        <li>Category Item -1</li>
                        <li>Category Item -2</li>
                        <li>Category Item -3</li>
                        <li>Category Item -4</li>
                        <li>Category Item -5</li>
                        <li>Category Item -6</li>
                        <li>Category Item -7</li>
                        <li>Category Item -8</li>
                    </ul>  
                </div>
                <div class="navigation-menu">
                   <span>Home</span>
                   <span>Shop</span>
                   <span>Shop Details</span>
                   <span>Pages &#9662;
                    <ul>
                        <li>Shopping Cart</li>
                        <li>Checkout</li>
                    </ul>
                   </span>
                   <span>Contact</span>
                </div>
                <div class="wishlist-and-cart">
                    <span class="fas fa-heart"></span>
                    <span>0</span>
                    <span class="fas fa-shopping-cart" style="margin-left: 20px;"></span>
                    <span>0</span>
                </div>
            </nav>
            <div class="banner-images">
                <div class="left-image">
                   <div class="content-div"> 
                    <h1>Men Fashion</h1>
                    <p style="text-align: center;">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                    <button>Shop Now</button>
                   </div>
                </div>
                <div class="right-images">
                    <div class="top-image">
                        <img src="https://themewagon.github.io/multishop/img/offer-1.jpg"/>
                        <div class="right-content-div">
                            <span>SAVE 20%</span>
                            <h1>Special Offer</h1>
                            <button>Shop Now</button>
                        </div>
                    </div>
                    <div class="top-image">
                        <img src="https://themewagon.github.io/multishop/img/offer-2.jpg"/>
                        <div class="right-content-div">
                            <span>SAVE 20%</span>
                            <h1>Special Offer</h1>
                            <button>Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service">
                <div>
                    <i class="fa fa-check"></i>
                    <span>Quality Product</span>
                </div>
                <div>
                    <i class="fa fa-shipping-fast"></i>
                    <span>Free Shipping</span>
                </div>
                <div>
                    <i class="fas fa-exchange-alt"></i>
                    <span>14 Day Return</span>
                </div>
                <div>
                    <i class="fa fa-phone-volume"></i>
                    <span>24/7 Support</span>
                </div>
            </div>
            <div class="category-heading">
              <span>CATEGORIES</span> <span>----------------------------------------------------------------------------------------------------------------------------</span>---------------------------------------------</h1>
            </div>
            <div class="category-items">
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
                <div>
                    <div class="category-image">
                        <img src="	https://themewagon.github.io/multishop/img/cat-1.jpg" width="100%" height="100%"/>
                    </div>
                    <div class="category-info">
                        <span>Category Name</span>
                        <span>100 Products</span>
                    </div>
                </div>
            </div>

            <div class="featured-products-container">
               <div class="featured-product"> 
                 <div class="image-container">
                    <img src="https://themewagon.github.io/multishop/img/product-1.jpg"/>
                    <div class="options">
                        <span class="fa fa-shopping-cart"></span>
                        <span class="far fa-heart"></span>
                        <span class="fa fa-sync-alt"></span>
                        <span class="fa fa-search"></span>
                    </div>
                 </div>
                 <div class="product-info">
                    <p>Product name goes here</p>
                    <span>$123.00 <del>$123.00</del></span>
                    <div>
                      <small class="fa fa-star"></small>
                      <small class="fa fa-star"></small>
                      <small class="fa fa-star"></small>
                      <small class="fa fa-star"></small>
                      <small class="fa fa-star"></small>
                    </div> 
                </div>
                </div>
                <div class="featured-product"> 
                    <div class="image-container">
                       <img src="https://themewagon.github.io/multishop/img/product-1.jpg"/>
                       <div class="options">
                           <span class="fa fa-shopping-cart"></span>
                           <span class="far fa-heart"></span>
                           <span class="fa fa-sync-alt"></span>
                           <span class="fa fa-search"></span>
                       </div>
                    </div>
                    <div class="product-info">
                       <p>Product name goes here</p>
                       <span>$123.00 <del>$123.00</del></span>
                       <div>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                       </div> 
                   </div>
                </div>
                <div class="featured-product"> 
                    <div class="image-container">
                       <img src="https://themewagon.github.io/multishop/img/product-1.jpg"/>
                       <div class="options">
                           <span class="fa fa-shopping-cart"></span>
                           <span class="far fa-heart"></span>
                           <span class="fa fa-sync-alt"></span>
                           <span class="fa fa-search"></span>
                       </div>
                    </div>
                    <div class="product-info">
                       <p>Product name goes here</p>
                       <span>$123.00 <del>$123.00</del></span>
                       <div>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                       </div> 
                   </div>
                </div>
                <div class="featured-product"> 
                    <div class="image-container">
                       <img src="https://themewagon.github.io/multishop/img/product-1.jpg"/>
                       <div class="options">
                           <span class="fa fa-shopping-cart"></span>
                           <span class="far fa-heart"></span>
                           <span class="fa fa-sync-alt"></span>
                           <span class="fa fa-search"></span>
                       </div>
                    </div>
                    <div class="product-info">
                       <p>Product name goes here</p>
                       <span>$123.00 <del>$123.00</del></span>
                       <div>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                       </div> 
                   </div>
                </div>

                <div class="featured-product"> 
                    <div class="image-container">
                       <img src="https://themewagon.github.io/multishop/img/product-1.jpg"/>
                       <div class="options">
                           <span class="fa fa-shopping-cart"></span>
                           <span class="far fa-heart"></span>
                           <span class="fa fa-sync-alt"></span>
                           <span class="fa fa-search"></span>
                       </div>
                    </div>
                    <div class="product-info">
                       <p>Product name goes here</p>
                       <span>$123.00 <del>$123.00</del></span>
                       <div>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                         <small class="fa fa-star"></small>
                       </div> 
                   </div>
                   </div>
                   <div class="featured-product"> 
                       <div class="image-container">
                          <img src="https://themewagon.github.io/multishop/img/product-1.jpg"/>
                          <div class="options">
                              <span class="fa fa-shopping-cart"></span>
                              <span class="far fa-heart"></span>
                              <span class="fa fa-sync-alt"></span>
                              <span class="fa fa-search"></span>
                          </div>
                       </div>
                       <div class="product-info">
                          <p>Product name goes here</p>
                          <span>$123.00 <del>$123.00</del></span>
                          <div>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                          </div> 
                      </div>
                   </div>
                   <div class="featured-product"> 
                       <div class="image-container">
                          <img src="https://themewagon.github.io/multishop/img/product-1.jpg"/>
                          <div class="options">
                              <span class="fa fa-shopping-cart"></span>
                              <span class="far fa-heart"></span>
                              <span class="fa fa-sync-alt"></span>
                              <span class="fa fa-search"></span>
                          </div>
                       </div>
                       <div class="product-info">
                          <p>Product name goes here</p>
                          <span>$123.00 <del>$123.00</del></span>
                          <div>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                          </div> 
                      </div>
                   </div>
                   <div class="featured-product"> 
                       <div class="image-container">
                          <img src="https://themewagon.github.io/multishop/img/product-1.jpg"/>
                          <div class="options">
                              <span class="fa fa-shopping-cart"></span>
                              <span class="far fa-heart"></span>
                              <span class="fa fa-sync-alt"></span>
                              <span class="fa fa-search"></span>
                          </div>
                       </div>
                       <div class="product-info">
                          <p>Product name goes here</p>
                          <span>$123.00 <del>$123.00</del></span>
                          <div>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                            <small class="fa fa-star"></small>
                          </div> 
                      </div>
                   </div>
            </div>

            
        </div>
        <div class="scroll-icon">
            <i class="fa fa-angle-double-up"></i>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>