*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-bar{
    background-color: #F5F5F5;
    height: 40px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}
.top-bar-left{
    height: 100%;
    width: 50%;
}
.top-bar-right{
    height: 90%;
    width: 50%;
    position: relative;
}
.top-bar-left ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 90%;
    column-gap: 15px;
   
    
}
.top-bar-left ul li{
    display: inline-block;
}

.top-bar-right ul:nth-child(1){
    list-style: none;
    display: flex;
    justify-content: end;
    height: 95%;
    align-items: center;
    column-gap: 15px;
    position: relative;
}
.top-bar-right ul:nth-child(1) li{
    display: inline-block;
    background-color: white;
    height: 100%;
    padding: 8px;
    margin-top: 2px;
}
.top-bar-right ul:nth-child(1) li ul{
    background-color: transparent;
    width: 150px !important;
    height: 200px !important;
    display: none !important;
    position: absolute;
    left: 350px;
    top: 30px;
} 
.top-bar-right ul:nth-child(1) li ul li{
    display: block !important;
    height:10px !important;
    margin-top: 20px;
}
.top-bar-right ul:nth-child(1) li:hover ul{
    display: block !important;
}

.logo-and-search{
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo,.customer-label{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}
.flex-container{
    display: flex;
}
.search-input{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.search-input input{
    width: 300px;
    height: 35px;
    padding: 5px;
}
.multi,.shop{
    width: 125px;
    height: 80%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop{
    background-color: #FFD333;
}
.multi{
    margin-left: 50px;
    
}

.multi h1{
    color: #FFD333;
    font-size: 35px;
}
.shop h1{
    color: black;
    font-size: 35px;
}

.search-input i{
    width: 30px;
    height: 35px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD333;
    margin-left: -30px;
}
.customer-label{
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 50px;
}
.customer-label span:nth-child(1){
    font-size: 18px;
}
.customer-label span:nth-child(2){
    font-size: 22px;
    font-weight: bold;
}

nav{
    height: 70px;
    background-color: #3D464D;
    display: flex;
}
.category-list{
    height: 100%;
    width: 20%;
    background-color: #FFD333;
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: relative;
}
.navigation-menu{
    height: 100%;
    width: 50%;
    position: relative;
    padding-left: 50px !important;
}
.wishlist-and-cart{
    width: 30%;
    height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
}
.category-list i{
    font-size: 15px;
}
.category-list span:nth-child(2){
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500 !important;
}
.category-list span:nth-child(3){
  font-size: 20px;
  margin-left: 50px;
  font-weight: 500 !important;
}

.category-list ul{
    background-color: transparent;
    width: 100% !important;
    padding: 10px;
    position: absolute;
    top: 70px;
    left: 0px;
    display: none;
}
.category-list ul li{
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid grey;
}
.category-list h1:hover + ul{
    display: block;
}
.navigation-menu{
    display: flex;
    align-items: center;
    padding-left: 20px;
    column-gap: 10px;

}
.navigation-menu span{
    color: white;
    font-size: 20px;
    position: relative;
}

.navigation-menu ul{
    list-style: none;
    position: absolute;   
    width: 140px;
    padding-top: 20px;
    background-color: transparent;
    display: none;
}
.navigation-menu ul li{
    padding: 10px;
    background-color: #FFD333;
}
.navigation-menu span:nth-child(4):hover ul{
  display: block;
}

.navigation-menu span:nth-child(4) ul li:hover{
    background-color: white;
    color: black;
}

.wishlist-and-cart span:nth-child(odd){
    color: #FFD333;
    font-size: 20px;
    margin-left: 10px;
}
.wishlist-and-cart span:nth-child(even){
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: white;
}

.banner-images{
    width: 92.7%;
    height: 400px;
  
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.left-image{
    height: 100%;
    width: 60%;
   
    background-image: url("https://themewagon.github.io/multishop/img/carousel-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-div{
    width: 60%;
    min-height: 40%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 20px;
}
.content-div button{
    width: 100px;
    height: 40px;
    background: transparent;
    border: 1.5px solid white;
    margin-top: 20px;
    color: white;
   
    font-size: 16px;
}
.content-div button:hover{
    background-color: white;
    color: black;
}
.right-images{
    height: 100%;
    width: 35%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-images div{
    height: 45%;
   
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s ease-in-out;
}
.top-image img:hover{
    transform: scale(1.2) rotate(5deg);
}
.right-content-div{
    position: absolute;
    width: 60%;
    height: 80% !important;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}
.right-content-div button{
    width: 120px;
    height: 40px;
    background-color: #FFD333;
    margin-top: 10px;
    border: none;
}

.content-div h1{
    animation: text-translate-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes text-translate-animation {
    from{
        transform: translateY(-100%);
    }
    to{
      transform: translateY(0%);
    }
}
.content-div button{
    animation: button-translate-animation;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
}
@keyframes button-translate-animation {
    from{
     transform: translateY(100%);
    }
    to{
      transform: translateY(0);
    }
}
.content-div p{
  animation: p-scale-animation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;  
  animation-direction: reverse; 
}

@keyframes p-scale-animation {
  from{
    transform: scale(1);
  } 
  to{
    transform: scale(1.2);
  }  
}
.service{
    height: 100px;
   
    margin-top: 50px;
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

.service div{
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
.service div i{
    color: #FFD333;
    font-size: 50px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service div span{
    font-size: 22px;
    font-weight: bold;
}
.category-heading{
    padding: 0px 50px;
    margin-top: 50px;
}
.category-heading span:nth-child(1){
    font-size: 32px;
    font-weight: bold;
}

.category-items{
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}
.category-items div{
   width: 22%;
   height: 100px;
   display: flex;
   background-color: white;
}
.category-image{
    width: 40% !important;
    height: 100% !important;
    overflow: hidden;
}
.category-info{
    width: 60% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding:10px;
    row-gap: 10px;
}
.category-info span:nth-child(1){
    font-size: 16px;
    font-weight: 800;
}
.category-items div:hover .category-info{
    background-color: #FFD333;
}
.category-image img{
    transition: all 0.5s ease-in-out;
}
.category-items div:hover .category-image img{
    transform: scale(1.2) rotate(3deg);
}
.featured-products-container{
    margin-top: 40px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}
.featured-product:hover .image-container img{
    transform: scale(1.1);
    opacity: 0.5;
}
.featured-product:hover .image-container .options{
    display: flex;
}
.featured-product{
   width: 22%;
   height: 400px;
   position: relative;
}
.image-container{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.options{
    position: absolute;
    width: 100%;
    display: none;
    justify-content: space-around;
    padding: 0px 20px;
}

.options span{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.options span:hover{
    background-color: #3D464D;
    color: #FFD333;
}
.image-container img{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    row-gap: 5px;
    background-color: white;
}
.product-info small{
    color: #FFD333;
}
.product-info p, .product-info span{
    font-size: 20px;
    font-weight: 500;
}
.scroll-icon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 60px;
    background-color: #FFD333;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes scroll-animation {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-100%);
    }
}