*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-bar{
    background-color: #F5F5F5;
    height: 40px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}
.top-bar-left{
    height: 100%;
    width: 50%;
}
.top-bar-right{
    height: 90%;
    width: 50%;
    position: relative;
}
.top-bar-left ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 90%;
    column-gap: 15px;
   
    
}
.top-bar-left ul li{
    display: inline-block;
}

.top-bar-right ul:nth-child(1){
    list-style: none;
    display: flex;
    justify-content: end;
    height: 95%;
    align-items: center;
    column-gap: 15px;
    position: relative;
}
.top-bar-right ul:nth-child(1) li{
    display: inline-block;
    background-color: white;
    height: 100%;
    padding: 8px;
    margin-top: 2px;
}
.top-bar-right ul:nth-child(1) li ul{
    background-color: transparent;
    width: 150px !important;
    height: 200px !important;
    display: none !important;
    position: absolute;
    left: 350px;
    top: 30px;
} 
.top-bar-right ul:nth-child(1) li ul li{
    display: block !important;
    height:10px !important;
    margin-top: 20px;
}
.top-bar-right ul:nth-child(1) li:hover ul{
    display: block !important;
}

.logo-and-search{
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo,.customer-label{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}
.flex-container{
    display: flex;
}
.search-input{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.search-input input{
    width: 300px;
    height: 35px;
    padding: 5px;
}
.multi,.shop{
    width: 125px;
    height: 80%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop{
    background-color: #FFD333;
}
.multi{
    margin-left: 50px;
    
}

.multi h1{
    color: #FFD333;
    font-size: 35px;
}
.shop h1{
    color: black;
    font-size: 35px;
}

.search-input i{
    width: 30px;
    height: 35px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFD333;
    margin-left: -30px;
}
.customer-label{
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 50px;
}
.customer-label span:nth-child(1){
    font-size: 18px;
}
.customer-label span:nth-child(2){
    font-size: 22px;
    font-weight: bold;
}

nav{
    height: 70px;
    background-color: #3D464D;
    display: flex;
}
.category-list{
    height: 100%;
    width: 20%;
    background-color: #FFD333;
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: relative;
}
.navigation-menu{
    height: 100%;
    width: 50%;
    border:1px solid blue;
    position: relative;
}
.wishlist-and-cart{
    width: 30%;
    height: 100%;
    border: 5px solid green;
}
.category-list i{
    font-size: 15px;
}
.category-list span:nth-child(2){
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500 !important;
}
.category-list span:nth-child(3){
  font-size: 20px;
  margin-left: 50px;
  font-weight: 500 !important;
}

.category-list ul{
    background-color: transparent;
    width: 100% !important;
    padding: 10px;
    position: absolute;
    top: 70px;
    left: 0px;
    display: none;
}
.category-list ul li{
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid grey;
}
.category-list h1:hover + ul{
    display: block;
}

.navigation-menu ul:nth-child(1){
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    column-gap: 20px;
    color: white;
    font-size: 18px;
    position: relative;
}

.navigation-menu ul li ul{
    background-color: #FFD333;
    display: none !important;
    position: absolute;
    top: 0px;
    left: 0;
    padding-left: 0px !important;
    height: 120px !important;
    
}
.navigation-menu ul li:hover ul{
    display: block !important;
}
.navigation-menu ul li ul li{
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}